<!DOCTYPE html>
<html>
  <title>首页</title>
    </head>
    <style>
    </style>
  <body>
          <h1>商城首页</h1>
  </body>
  <script type="text/javascript" src="./public/jquery.js"></script>
  <script>
  </script>
</html>
